%h2 Scores
#scores
  = render('shared/error_messages', :object => f.object) if f.object && !f.object.try(:errors).blank?
  %ol
    - if submission_review.submission.project.show_impact_score
      %li
        %p
          = submission_review.submission.project.impact_title.html_safe
          \.
          \#{submission_review.submission.project.impact_wording.html_safe}
        %span{:style => "float: left; width:325px;"}
          = submission_review.submission.project.impact_title.html_safe
          score:
        = f.text_field :impact_score, :size => 4, :digits => true
        %br/
        %span{:style => "float: left; width:325px;"}
          Strengths and weaknesses
        = f.text_area :impact_text, {:rows => 8, :cols => 100, :wrap=>"virtual"}
        
    - if submission_review.submission.project.show_team_score
      %li
        %p
          = submission_review.submission.project.team_title.html_safe
          \.
          \#{submission_review.submission.project.team_wording.html_safe}
        %span{:style => "float: left; width:325px;"}
          = submission_review.submission.project.team_title.html_safe
          score:
        = f.text_field :team_score, :size => 4, :digits => true
        %br/
        %span{:style => "float: left; width:325px;"}
          Strengths and weaknesses
        = f.text_area :team_text, {:rows => 8, :cols => 100, :wrap=>"virtual"}
        
    - if submission_review.submission.project.show_innovation_score
      %li
        %p
          = submission_review.submission.project.innovation_title.html_safe
          \.
          \#{submission_review.submission.project.innovation_wording.html_safe}
        %span{:style => "float: left; width:325px;"}
          = submission_review.submission.project.innovation_title.html_safe
          score:
        = f.text_field :innovation_score, :size => 4, :digits => true
        %br/
        %span{:style => "float: left; width:325px;"}
          Strengths and weaknesses
        = f.text_area :innovation_text, {:rows => 8, :cols => 100, :wrap=>"virtual"}
    
    
    - if submission_review.submission.project.show_scope_score
      %li
        %p
          = submission_review.submission.project.scope_title.html_safe
          \.
          \#{submission_review.submission.project.scope_wording.html_safe}
        %span{:style => "float: left;width:325px;"}
          = submission_review.submission.project.scope_title.html_safe
          score:
        = f.text_field :scope_score, :size => 4, :digits => true
        %br/
        %span{:style => "float: left; width:325px;"}
          Strengths and weaknesses
        = f.text_area :scope_text, { :rows => 8, :cols => 100, :wrap=>"virtual" }
    
    
    - if submission_review.submission.project.show_environment_score
      %li
        %p
          = submission_review.submission.project.environment_title.html_safe
          \.
          \#{submission_review.submission.project.environment_wording.html_safe}
        %span{:style => "float: left; width:325px;"}
          = submission_review.submission.project.environment_title.html_safe
          score:
        = f.text_field :environment_score, :size => 4, :digits => true
        %br/
        %span{:style => "float: left; width:325px;"}
          Strengths and weaknesses
        = f.text_area :environment_text, { :rows => 8, :cols => 100, :wrap=>"virtual" }
    
    
    - if submission_review.submission.project.show_budget_score
      %li
        %p
          = submission_review.submission.project.budget_title.html_safe
          \.
          \#{submission_review.submission.project.budget_wording.html_safe}
        %span{:style => "float: left; width:325px;"}
          = submission_review.submission.project.budget_title.html_safe
          score:
        = f.text_field :budget_score, :size => 4, :digits => true
        %br/
        %span{:style => "float: left; width:325px;"}
          Strengths and weaknesses
        = f.text_area :budget_text, {:rows => 8, :cols => 100, :wrap=>"virtual"}
    
    
    - if submission_review.submission.project.show_other_score
      %li
        %p
          = submission_review.submission.project.other_title.html_safe
          \.
          \#{submission_review.submission.project.other_wording.html_safe}
        %span{:style => "float: left; width:325px;"}
          = submission_review.submission.project.other_title
          \.html_safe score:
        = f.text_field :other_score, :size => 4, :digits => true
        %br/
        %span{:style => "float: left; width:325px;"}
          Strengths and weaknesses
        = f.text_area :other_text, {:rows => 8, :cols => 100, :wrap=>"virtual"}
    
    
    %hr
    %p
      = submission_review.submission.project.overall_impact_title.html_safe
      \.
      \#{submission_review.submission.project.overall_impact_description.html_safe}
    %span{:style => "float: left; width:325px;"}
      = submission_review.submission.project.overall_impact_title.html_safe
      score:
    = f.text_field :overall_score, :size => 4, :digits => true
    %br/
    %span{:style => "float: left; width:325px;"}
      = submission_review.submission.project.overall_impact_direction.html_safe
    = f.text_area :overall_text, {:rows => 15, :cols => 100, :wrap=>"virtual"}

