/ - if !cookies[:nucats_auth].present? || !session[:user_info].present? 
/   .container
/     #submenu
/       %p.small 
/         Having trouble logging in? #{link_to 'Click here', auth_path, :class => 'menu_link'} to reset your session.
/       / TODO: Fix CSRF Detected error coming from OmniAuth

.clearfix
%nav.navbar
  .container.brand-marks
    .navbar-header
      %a.brand{ href: root_path }
        = image_tag 'logo.png'
      %button.navbar-toggle.collapsed{type: "button", data: {toggle: "collapse", target: "#bs-example-navbar-collapse-1"}}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .collapse.navbar-collapse{id: "bs-example-navbar-collapse-1"}
      %ul.nav.navbar-nav.navbar-right
        - if defined?(current_user_session) && !current_user_session.blank?
          %li
            .username= session[:name] || current_user_session.try(:username)
          %li
            = link_to "Sign Out", application_logout_path, :title => "Logout of NUCATS Assist"

        - else
          %li= link_to 'Login', projects_path, :title => "Login to NUCATS Assist"
        %li= link_to 'Help', image_path("../docs/NUCATS_Assist_Instructions.pdf"),
          :title => "Instructions on how to use NUCATS Assist and general help manual",
          :class => 'menu_link'  
  
  - if defined?(current_user_session) && !current_user_session.blank?
    .container.main-banner
      %h3 NUCATS Assist
    .container.main-nav
      = render "shared/menus"


- if !flash[:errors].blank? && flash[:errors].to_s.downcase != 'csrf detected'
  #results.notice
    #errors= flash[:errors].html_safe
    = image_tag 'loading.gif', :id => 'spinner'
- unless flash[:notice].blank?
  #test.notice
    #notice= flash[:notice].html_safe