<h2>Editing '<%= @sponsor.program_title %>'</h2>

<%= form_for(@sponsor, :url => sponsor_path(@sponsor)) do |f| %>
  <%= render('shared/error_messages', :object => f.object) if f.object && !f.object.try(:errors).blank? %>

  <%= render('sponsor_form', :f => f, :sponsor => @sponsor) %>
  <p>
    <%= f.submit 'Update Sponsor', class: 'btn btn-school' %>
  </p>
<% end %>
<hr>
<div class="clearfix">
  <h3>Admin Links</h3>
  <%= render('shared/admin_links') %>
</div>
<hr>
<%= link_to "List of all competitions for #{@sponsor.program_title}", sponsor_path(@sponsor.id), class: 'btn btn-info' %>