- pronoun = "your"
- pronoun = "the" if current_user_session.try(:username) != applicant.username
- completion = ""
- completion = " for #{applicant.name}" if current_user_session.try(:username) != applicant.username

%tr
  %td.info{colspan: 3}
    .h3
      Manage documents for this submission (you can add or update your documents using this form)
      = "<br/>Your documents are currently COMPLETE" if submission.status == 'Complete'

- if project.show_manage_biosketches
  - biosketch_missing = submission.applicant_biosketch_document_id.blank?
  - biosketch_required = biosketch_missing && project.biosketch_required?
  %tr
    %td= f.label :uploaded_biosketch, label: "PI Biosketch Document", required: biosketch_required
    %td
      %p= f.input "uploaded_biosketch", as: :file, label: false, required: biosketch_required
      - if biosketch_missing
        .alert.alert-warning{role: "alert"}
          %span.glyphicon.glyphicon-exclamation-sign{aria: {hidden: true}}
          Please upload #{pronoun} NIH Biosketch#{completion}
          = link_to_nih_biosketch_info.html_safe
      - else
        = link_to_file submission.applicant_biosketch_document_id, "#{submission.applicant_biosketch_document.file_name}"
        &nbsp; File saved on 
        = (submission.applicant_biosketch_document.updated_at || submission.applicant_biosketch_document.updated_at).to_s(:justdate)
        %br
        Uploading your biosketch here only changes the biosketch for this submission - it does not change your default biosketch for your next submission or for any proposals you are listed as key personnel on.
        To change your default biosketch, upload your biosketch in your
        = link_to "Profile", edit_applicant_path(submission.applicant.id), :title=>"Edit #{submission.applicant.name}'s profile"

- if project.show_application_doc
  - application_missing = submission.application_document_id.blank?
  - application_required = application_missing && project.application_required?
  %tr
    %td
      = f.label :uploaded_application, label: "#{submission.project.application_doc_name} Document", required: application_required
    %td.notes{colspan: 2}
      %p= f.input :uploaded_application, as: :file, label: false, required: application_required
      - if application_missing
        .alert.alert-warning{role: "alert"}
          %span.glyphicon.glyphicon-exclamation-sign{aria: {hidden: true}}
          = project.application_doc_description.html_safe || "Please upload the completed application document."
      - else
        = link_to_file submission.application_document_id, "Filename: #{submission.application_document.file_name}"
        &nbsp; File saved on
        = submission.application_document.updated_at.to_s(:justdate)
      = link_to_application_template(project).html_safe
      |
      = link_to_application_info(project).html_safe

- if project.show_budget_form
  - budget_missing = submission.budget_document_id.blank?
  - budget_required = budget_missing && project.budget_required?
  %tr
    %td= f.label :uploaded_budget, label: "Budget Document", required: budget_required
    %td.notes{colspan: 2}
      %p= f.input :uploaded_budget, as: :file, label: false, required: budget_required
      - if budget_required
        .alert.alert-warning{role: "alert"}
          %span.glyphicon.glyphicon-exclamation-sign{aria: {hidden: true}}
          Please upload the budget document
      - else
        = link_to_file submission.budget_document_id, "", "spreadsheet"
        %i Budget uploaded. 
        Filename: 
        = submission.budget_document.file_name
      = link_to_budget_template(current_project).html_safe
      |
      = link_to_budget_info(current_project).html_safe

- if project.show_manage_other_support
  - other_support_missing = submission.other_support_document_id.blank?
  - other_support_required = other_support_missing && project.other_support_required?
  %tr
    %td= f.label :uploaded_other_support, label: "NIH Other Support Document", required: other_support_required
    %td.notes{colspan: 2}
      %p= f.input "uploaded_other_support", as: :file, label: false, required: other_support_required
      - if other_support_missing
        .alert.alert-warning{role: "alert"}
          %span.glyphicon.glyphicon-exclamation-sign{aria: {hidden: true}}
          = project.manage_other_support_text.html_safe || "File is missing"
      - else
        = link_to_file submission.other_support_document_id, "", "document"
        %i NIH Other Support uploaded
        Filename: 
        = submission.other_support_document.file_name
      = link_to_other_support_documents.html_safe
    
- if project.show_document1
  - document1_missing = submission.document1_id.blank?
  - document1_required = document1_missing && project.document1_required?
  %tr
    %td= f.label :uploaded_document1, label: "#{submission.project.document1_name} Document", required: document1_required
    %td.notes{colspan: 2}
      %p= f.input :uploaded_document1, as: :file, label: false, required: document1_required
      - if document1_missing
        .alert.alert-warning{role: "alert"}
          %span.glyphicon.glyphicon-exclamation-sign{aria: {hidden: true}}
          = project.document1_description || "File is missing"
      - else 
        = link_to_file submission.document1_id, "", "document"
        %i #{submission.project.document1_name} uploaded.
        Filename: 
        =  submission.document1.file_name
      = link_to_document_template(project, 1).html_safe
      |
      = link_to_document_info(project, 1).html_safe

- if project.show_document2
  - document2_missing = submission.document2_id.blank?
  - document2_required = document2_missing && project.document2_required?
  %tr
    %td= f.label :uploaded_document2, label: "#{submission.project.document2_name} Document", required: document2_required
    %td.notes{colspan: "2"}
      %p= f.input :uploaded_document2, as: :file, label: false, required: document2_required
      - if document2_missing
        .alert.alert-warning{role: "alert"}
          %span.glyphicon.glyphicon-exclamation-sign{aria: {hidden: true}}
          = project.document2_description || "File is missing"
      - else
        = link_to_file submission.document2_id, "", "document"
        %i #{submission.project.document2_name} uploaded.
        Filename: 
        =  submission.document2.file_name
      = link_to_document2_template_info submission.project

- if project.show_document3
  - document3_missing = submission.document3_id.blank?
  - document3_required = document3_missing && project.document3_required
  %tr
    %td= f.label :uploaded_document3, label: "#{submission.project.document3_name} Document", required: document3_required
    %td.notes{colspan: 2}
      %p= f.input :uploaded_document3, as: :file, label: false, required: document3_required
      - if document3_missing
        .alert.alert-warning{role: "alert"}
          %span.glyphicon.glyphicon-exclamation-sign{aria: {hidden: true}}
          = project.document3_description || "File is missing"
      - else
        = link_to_file submission.document3_id, "", "document"
        %i #{submission.project.document3_name} uploaded.
        Filename:
        =  submission.document3.file_name
      = link_to_document3_template_info submission.project

- if project.show_document4
  - document4_missing = submission.document4_id.blank?
  - document4_required = document4_missing && project.document4_required?
  %tr
    %td= f.label :uploaded_document4, label: "#{submission.project.document4_name} Document", required: document4_required
    %td.notes{colspan: 2}
      %p= f.input :uploaded_document4, as: :file, label: false, required: document4_required
      - if document4_missing
        .alert.alert-warning{role: "alert"}
          %span.glyphicon.glyphicon-exclamation-sign{aria: {hidden: true}}
          %i= project.document4_description || "File is missing"
      - else
        = link_to_file submission.document4_id, "", "document"
        %i #{submission.project.document4_name} uploaded.
        Filename:
        =  submission.document4.file_name
      = link_to_document4_template_info submission.project

- supplemental_document_missing = submission.supplemental_document_id.blank?
- supplemental_document_required = supplemental_document_missing && project.supplemental_document_required?
%tr
  %td
    = f.label :uploaded_supplemental_document, submission.project.supplemental_document_name.html_safe, required: supplemental_document_required
  %td.notes{colspan: 2}
    %p= f.input :uploaded_supplemental_document, as: :file, label: false, required: supplemental_document_required
    - if submission.supplemental_document_id.blank?
      %i= project.supplemental_document_description.html_safe || "Please upload any supplemental document."
    - else
      = link_to_file submission.supplemental_document_id, "Filename: #{submission.supplemental_document.file_name}"
      &nbsp;
      File saved on
      = submission.supplemental_document.updated_at.to_s(:justdate)